# Microsoft Edge Policy Files
microsoft-edge-policies.md
microsoft-edge-update-policies.md
EdgePolicyTemplates/
MicrosoftEdgePolicyTemplates/
microsoft-edge-edgeupdater-policies-mac.md
microsoft-edge-webview-policies.md
